<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Muss ich hin!</div>
                <div class="panel-body">
                    <div ng-repeat="concert in loveConcerts">

                        <div class="panel panel-default" ng-class="alertClass(concert)">
                            {{concert.artist}} :: {{concert.venue}} :: {{concert.date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">Alle Konzerte</div>
                <div class="panel-body">
                    <div ng-repeat="concert in allConcerts">
                        <div class="panel panel-default" ng-class="alertClass(concert)">
                            {{concert.artist}} :: {{concert.venue}} :: {{concert.date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">Mal schauen!</div>
                <div class="panel-body">
                    <div ng-repeat="concert in maybeConcerts">
                        <div class="panel panel-default" ng-class="alertClass(concert)">
                            {{concert.artist}} :: {{concert.venue}} :: {{concert.date}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <form name="addConcertForm" novalidate class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only">Artist</label>
                        <input type="text" name="artist" ng-model="newConcert.artist" placeholder="Künstler" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Ort</label>
                        <input type="text" name="venue" ng-model="newConcert.venue" placeholder="Ort" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Datum</label>
                        <input type="date" name="date" ng-model="newConcert.date" placeholder="Datum" required>
                    </div>
                    <button ng-click="addConcert()" ng-disabled="addConcertForm.$invalid" class="btn btn-success glyphicon glyphicon-plus"
                            type="submit"></button>
                </form>
            </div>

        </div>

    </div>
</div>